#form_container {
    height: auto;
    layout: vertical;
}

#spacer {
    height: 0%;
}

#password_input {
    width: 50%;
}

#show_password_button {
    width: auto;
}

#button_row {
    padding-top: 7;
}
